.head_filter {
    font-weight: 500;
}

.input_filter{
    width: 150px;
        height: 15px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 5px 10px 5px 10px;
        outline: none;
        -webkit-transition: border-color var(--transition);
        transition: border-color var(--transition);
        margin-bottom: 15px;
        margin-top: 5px;
}

.input_filter:focus {
    border-color: aqua;
}